

.input--secondary{
    background: transparent;
    width: 100%;
    border: 0.15rem solid var(--primary-white-hex);
    color: var(--primary-white-hex);
    border-radius: 0.7rem !important;
    line-height: 2rem;
    padding: 0.6rem 1rem;
    outline: none;
    letter-spacing: 0.01rem;
}
.input--textarea {
    resize: none;
    border-radius: 1rem;
}





input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}
input[type='file'] {
    opacity:0    
  }

.input--secondary:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--primary-white-hex);
 }
  .input--primary-contact:-webkit-autofill ,textarea:-webkit-autofill ,.input--secondary:-webkit-autofill {
    
    -webkit-text-fill-color:var(--primary-black-hex);
}
.input--primary-contact:-webkit-autofill:focus,textarea:-webkit-autofill {
    
    -webkit-text-fill-color: var(--primary-black-hex);
}
.react-international-phone-input{
    width: 100%;
    color: inherit !important;
    border: none !important;
    background-color: inherit !important;
}
.react-international-phone-country-selector-button{
    background-color: transparent !important;
    border: none !important;
   
}
